[submodule "ThirdParty/gtest"]
	path = ThirdParty/gtest
	url = https://github.com/google/googletest.git
[submodule "ThirdParty/luau"]
	path = ThirdParty/luau
	url = https://github.com/Roblox/luau.git
