[submodule "ThirdParty/googletest"]
	path = ThirdParty/googletest
	url = https://github.com/kunitoki/googletest.git
[submodule "ThirdParty/luau"]
	path = ThirdParty/luau
	url = https://github.com/kunitoki/luau.git
