[submodule "ThirdParty/luau"]
	path = ThirdParty/luau
	url = https://github.com/Roblox/luau.git
[submodule "ThirdParty/googletest"]
	path = ThirdParty/googletest
	url = https://github.com/google/googletest.git
[submodule "ThirdParty/ravi"]
	path = ThirdParty/ravi
	url = https://github.com/dibyendumajumdar/ravi.git
